.info {
  background-image: url("https://wallpaperaccess.com/full/3509789.jpg");
}

@media (max-width: 800px) {
  .gitBtn {
    width: 120px;
  }
  .cvBtn{
    width: 120px;
  }
  .hireA{
    display: flex;
    justify-content: center;
  }
  .portfolio{
    display: flex;
    flex-direction: column;
  }
  .hireMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
  .hire1{
    width: 100%;
  }
  .hire2{
    padding-top: 5px;
    padding-left: 0;
  }
  .contactHeader{
    font-size: xx-large;
  }
  .contactInput{
    width: 100%;
  }
  .contactInputArea{
    width: 100%;
  }
}